---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl font-bold">About</h1>

  <p>
    Hola! Soy Carlos Faria. Sí, en la URL hay un García delante porque el
    apellido es compuesto, pero siempre me he sentido más Faria que García.
  </p>
  <p>
    Nací y crecí en Valencia y sigo viviendo aquí, pero me siento más Cabopalero
    que otra cosa… aunque últimamente piso mi tierra murciana bastante poco.
  </p>
  <p>
    ¿Te llamas Garcia-Faria de apellido y quieres un subdominio que apunte a tu
    web? Solo tienes que pedirlo.
  </p>

  <h2 class="text-xl font-bold">Aficiones</h2>
</MainLayout>
