---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl font-bold">Objetivos</h1>
  <h2>2025</h2>
  <ul>
    <li>Aprender a dibujar arquitectura y colorearla con acuarela.</li>
    <li>Aprender React a un nivel intermedio.</li>
    <li>Construir y lanzar al menos 3 proyectos personales usando Astro y React.</li>    
    <li>Escribir al menos 10 posts en el blog documentando mi aprendizaje y experiencias.</li>
  </ul>
</MainLayout>
