---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl font-bold">Objetivos</h1>
  <h2>2025</h2>
  <h3>Desarrollo</h3>
  <ul class="list-disc list-inside mt-4">
    <li>[] Aprender React a un nivel intermedio.</li>
    <li>[] Aprender algo de Tailwind... vamos a probar esto a ver qué tal.</li>
    <li>
      [] Construir y lanzar al menos 1 proyecto personal usando Astro y React (Sin incluir este site).
    </li>
    <li>
      [] Escribir posts en el blog documentando mi aprendizaje y experiencias.
    </li>
  </ul>
  <h3 class="mt-6">Vital</h3>
  <ul class="list-disc list-inside mt-4">
    <li>[] Aprender a dibujar y colorear con acuarela.</li>
    <li>[] Ir 4 veces por semana al gimnasio.</li>
  </ul>
</MainLayout>
